*.vscode
*.pyc
GalSim/data/*.csv
notebooks/*
superbit_lensing.egg-info/
.DS_Store
configs/cl_m2.2e15_z0.44/
configs/forecast_round1/
configs/gaia_blue_gaussian/
configs/gaia_blue_gaussian_cl3/
configs/gaia_shape_gaussian/
*.txt
./configs/test_stars.yaml
dist/
tests/
get_avg_alpha.py
get_mean_shearprofile.py
job_scripts/
lib/
make_job_scripts.py
runs/
slurm_outfiles/
superbit_lensing/__pycache__/
superbit_lensing/tests/*
superbit_lensing/galsim/config_files/bit_0.24gauss_cl3.yaml
superbit_lensing/galsim/config_files/bit_0.24gauss_cl5.yaml
superbit_lensing/galsim/config_files/gs_cl_m2.2e15_z0.44.yaml
superbit_lensing/galsim/config_files/gs_config_single_cat.yaml
superbit_lensing/galsim/config_files/pipe_test_jmc.yaml
superbit_lensing/galsim/data/cosmos2015_cam2021_filt2021.csv
superbit_lensing/galsim/mock_superBIT_cosmosgal.py
superbit_lensing/galsim/mock_superBIT_data_sersicgal.py
superbit_lensing/galsim/mock_superGauss_SersicGal.py
superbit_lensing/jobs_manager_test_config.yaml
superbit_lensing/medsmaker/scripts/process_mocks_ccv.py
superbit_lensing/medsmaker/superbit/astro_config/__init__.py
superbit_lensing/medsmaker/superbit/astro_config/sextractor.blue.config
superbit_lensing/metacalibration/deprecated/
superbit_lensing/pipe_jmac.py
superbit_lensing/prep_fixedstarcat_config.yaml
superbit_lensing/prep_jobs_config.yaml
superbit_lensing/prep_sanity_check_config.yaml
superbit_lensing/run_scripts/
superbit_lensing/shear_profiles/make_annular_catalog2.py
superbit_lensing/tests/get_avg_alpha.py
